# JSUB Configuration File
# This configuration file is supposed to be put at ~/.jsubrc.
# The settings here would overload the default ones defined in .jsubrc in JSUB main dir.
#==================================================================================

###    The packages to be loaded to JSUB. JSUB would search for extension modules according to the order given here.
package: [jsub_juno, jsub_dirac]

### Location to put task information files; may need big space for log and output files
taskDir: 
  location: /junofs/users/USER_NAME/jsub

### Backend setting
backend:
  default: dirac
#  dirac:    
    # Config backend settings here
#   site:
#     - CLOUD.IHEP.cn
#     - GRID.JINR.ru
#     - CLUSTER.USTC.cn




