log_level: DEBUG
time_zone: utc

package: [jsub_cepc, jsub_dirac, jsub.exts]

max_jobs_per_task: 100000
list_tasks_recent_days: 60

repo:
  type: file_system
  param:
    dir: ~/jsub/repo
    format: compact

content:
  type: file_system
  param:
    dir: ~/jsub/content

bootstrap: shell

navigator:
  - xixi
  - python
  - hehe

backend:
  default: dirac
  work_dir: ~/jsub/work
  predefined:
    local:
      type: local
      launcher: arg
    fg:
      type: local
      launcher: arg
      param:
        foreground: True
    condor:
      type: condor
      launcher: arg
      param:
        work_dir: ~/jsub/work
    dirac:
      type: dirac
      launcher: arg
      param:
        site:
          - CLOUD.IHEP.cn
          - GRID.JINR.ru
          - CLUSTER.USTC.cn

aux:
  after_split: []
  before_submit: []
  after_submit: [dirac_task]
